* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
}

body {
  background: var(--light-green);
}

body.prototypes_show {
  display: flex;
  margin: 0;
}
.Disabled {
  opacity: 0.4;
  cursor: not-allowed;
  .TogglerWrapper {
    pointer-events: none;
  }
}
#option1 {
  background-image: url('option1.svg');
  background-repeat: no-repeat;
  background-position: right;
}
#option3 {
  background-image: url('option3.svg');
  background-repeat: no-repeat;
  background-position: right;
}
#option4 {
  background-image: url('option4.svg');
  background-repeat: no-repeat;
  background-position: right;
}
.ToggleLabels {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 36px;
  p {
    margin: 0;
  }
}
.TogglerWrapper {
  width: 100%;
  height: 74px;
  max-height: 74px;
  padding: 8px;
  border-radius: 20px;
  position: relative;
}
.TogglerToggle {
  top: 8px;
  bottom: 8px;
  width: 183px;
  border-radius: 16px;
  position: absolute;
  cursor: pointer;
  transition: all 1s ease;
}
.TTActive {
  left: 8px;
  background: var(--black);
  transition: all 1s ease;
}
.TTInActive {
  left: calc(100% - 191px);
  background: #f1f8f4;
  transition: all 1s ease;
}
.InActive {
  background: var(--black);
  transition: all 1s ease;
}
.Active {
  background: #f1f8f4;
  transition: all 1s ease;
}
#prototype_5, #prototype_1 {
  .MainColumn {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0 !important;
  }
  .CardWrapper {
    height: 100%;
    margin-bottom: 0;
    position: relative;
  }
  .FinalWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    input {
      background: transparent;
      width: 100%;
      height: 66.5px;
      border-radius: 10px;
      outline: none;
      border: 1.5px solid var(--black);
      padding-left: 20px;
      padding-top: 2px;
      font-size: 26px;
      color: var(--black);
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 300;
      &::placeholder {
        font-size: 26px;
        color: #727272;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
      }
    }
    #myTA {
      background: transparent;
      width: 100%;
      height: 66.5px;
      border-radius: 10px;
      outline: none;
      border: 1.5px solid var(--black);
      padding-left: 20px;
      padding-top: 14px;
      font-size: 26px;
      color: var(--black);
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 300;
      ::placeholder {
        font-size: 26px;
        color: #727272;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
      }
    }
  }
  .NameAuthorWrapper {
    display: flex;
    width: 100%;
    gap: 8px;
  }
  .SC_Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    background: var(--black) !important;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 116.8%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--light-green) !important;
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.7;
      transition: all 0.5s ease;
    }
  }
}
.StepsWrapper {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  .Done {
    background: var(--light-green) !important;
    opacity: 1 !important;
    transition: all 0.2s ease;
  }
  .Step {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--white);
    opacity: 0.2;
    transition: all 0.2s ease;
  }
}
.abIMG {
  position: absolute;
  width: 420px;
  height: 408px;
  right: 0px;
  bottom: 0px;
  background-image: url('option2.svg');
  pointer-events: none;
}

.Special {
  display: flex;
  flex-direction: column;
  gap: 18px;
  h2 {
    margin: 0 !important;
  }
  .SC_Button {
    width: 100%;
    min-height: 74px !important;
    background: var(--black) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 116.8%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--black);
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.7;
      transition: all 0.5s ease;
    }
  }
}

.SC_ButtonPlus {
  flex: 1;
  background-color: var(--black);
  cursor: pointer;
  border-radius: 20px;
  padding: 20px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s ease all;
  &:hover {
    opacity: 0.8;
    transition: 0.5s ease all;
  }
  h2 {
    max-width: 200px;
    color: var(--white) !important;
  }
}
.TagsWrapper {
  display: flex;
  gap: 8px;
  .Tag {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 116.8%;
    letter-spacing: -0.01em;
    color: var(--black);
    margin: 0;
    padding: 8px 18px 13px;
    background: var(--light-green);
    border-radius: 100px;
  }
}

#prototype_2,
#prototype_5, #prototype_1 {
  background-image: url('pBG');
  background-size: 1459px 864px;
  background-position: center center;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  background-color: black;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 73px;
  padding-bottom: 47px;
  canvas {
    margin: auto;
  }
  .Container {
    display: flex;
    width: 100%;
    gap: 32px;
    .MainColumn {
      display: flex;
      gap: 32px;
      flex-direction: column;
      .MainButtons {
        display: flex;
        flex: 1;
        gap: 8px;
        .SC_Button {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          // height: 100%;
          font-family: 'Helvetica Neue';
          text-transform: uppercase;
          background: var(--dark-green);
          border-radius: 20px;
          // width: 100%;
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 116.8%;
          text-align: center;
          letter-spacing: -0.01em;
          color: var(--black);
          transition: all 0.5s ease;
          &:hover {
            opacity: 0.7;
            transition: all 0.5s ease;
          }
        }
      }
    }
    .BookColumn {
      width: 879px;
      border-radius: 4px;
      overflow: hidden;
      height: 595px;
      display: flex;
      align-items: center;
      filter: drop-shadow(0px 0px 21px rgba(0, 0, 0, 0.56));
    }
    .InterfaceWrapper {
      flex: 1;
      display: flex;
      background-color: var(--dark-green);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px 22px 20px;
      h2 {
        margin: 0;
        margin-bottom: 18px;
      }
      .InterfaceItem {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .leftShadow {
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.167307) 0.2%,
        rgba(255, 255, 255, 0) 2.75%
      ),
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.35) -0.41%,
        rgba(0, 0, 0, 0) 99.21%
      );
    background-blend-mode: screen, darken, normal;
  }
  .centerShadow {
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.4) 0.03%,
        rgba(255, 255, 255, 0.4) 0.04%,
        rgba(255, 255, 255, 0) 99.98%
      ),
      linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0.03%, rgba(0, 0, 0, 0) 99.98%);
  }
  .centerShadowTwo {
    background: linear-gradient(
        90deg,
        rgba(17, 13, 13, 0) 90.06%,
        rgba(0, 0, 0, 0.4) 99.95%
      ),
      linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 84.88%,
        rgba(255, 255, 255, 0.4) 99.98%
      );
    background-blend-mode: luminosity, normal;
  }
  .rightShadow {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 2.1%
      ),
      linear-gradient(90deg, rgba(0, 0, 0, 0.3) -0.41%, rgba(0, 0, 0, 0) 99.21%);
    background-blend-mode: overlay, darken, normal;
  }
  #sketch1 {
    position: relative;
    width: 427.64px;
    height: 593px;
  }
  #sketch2 {
    position: relative;
    width: 38.04px;
    height: 595px;
    display: flex;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(77, 77, 77, 0) 22.39%,
        #5e5e5e 66.64%,
        #4d4d4d 96.83%
      ),
      linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0.03%,
        rgba(255, 255, 255, 0) 0.04%,
        #3f3f3f 89.05%
      );
  }
  #sketch3 {
    position: relative;
    width: 427.64px;
    height: 593px;
  }
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  div:first {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 116.8%;
  letter-spacing: -0.01em;
  color: var(--black);
  margin: 0;
  margin-top: 36px;
  margin-bottom: 80px;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 116.8%;
  letter-spacing: -0.01em;
  color: var(--black);
  margin: 0;
  span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 116.8%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--black);
  }
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 116.8%;
  letter-spacing: -0.01em;
  color: var(--black);
  margin: 0;
  text-transform: uppercase;
}

.MainWrapper {
  max-width: 100vw;
  height: 3000px;
  padding-top: 68px;
  .MainContent {
    padding-left: 48px;
    padding-right: 48px;
  }
  .LogoWrapper {
    width: 1335px;
    height: 731px;
    position: relative;
    .Logo {
      width: 100%;
      height: 100%;
      position: absolute;
      background: url('Logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .LogoShadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('LogoShadow.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .ExamplesWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 80px;
    .OneLink {
      display: flex;
      gap: 8px;
      align-items: baseline;
      margin-top: 16px;
      border-bottom: var(--black) 1px solid;
      width: fit-content;
    }
    .ExampleGrid {
      display: grid;
      width: 100%;
      gap: 16px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 32px;
      max-width: 100%;
      .Example {
        position: relative;
        border-radius: 20px;
        height: 508px;
        overflow: hidden;
        &:hover {
          .Gradient {
            opacity: 1;
            transition: all 0.5s ease-in-out;
          }
        }
        .Gradient {
          transition: all 0.5s ease-in-out;
          opacity: 0;
          padding: 32px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.94) 0%,
            rgba(0, 0, 0, 0) 100%
          );
          h2 {
            color: var(--white);
            max-width: 373px;
          }
        }
      }
      .Wide {
        grid-column: span 2;
        background: url('CARD.jpg');
        background-size: cover;
      }
      .Square {
        background: url('CARD2.jpg');
        background-size: cover;
      }
      .Info {
        grid-column: span 2;
        height: 508px;
        margin: 0;
      }
    }
  }
}
.Inverted {
  background-color: #000000 !important;
  h2 {
    color: var(--white) !important;
  }
  .SC_Button {
    background-color: var(--light-green) !important;
    color: var(--black) !important;
  }
}
.CardWrapper {
  width: 100%;
  display: flex;
  padding: 32px 32px 36px;
  background: var(--dark-green);
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  .ColumnsWrapper {
    margin-top: 24px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    gap: 36px;
  }
  .SC_Button {
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    background: #000000;
    border-radius: 20px;
    width: 100%;
    padding: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 116.8%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--white);
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.7;
      transition: all 0.5s ease;
    }
  }
}
.FooterWrapper {
  background: var(--dark-green);
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 40px 48px 80px;
  height: 310px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  a {
    :hover {
      opacity: 0.5;
    }
  }
  .Row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:first-of-type {
      grid-column: span 3;
      justify-content: space-between;
      p {
        margin: 0;
      }
    }
    &:last-of-type {
      grid-column: span 2;
    }
  }
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 116.8%;
    letter-spacing: -0.01em;
    color: var(--black);
    width: 362px;
  }
}
.HeaderWrapper {
  z-index: 1000;
  background: var(--light-green);
  transition: all 1s ease-in-out;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  height: 61px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    svg {
      fill: black;
      stroke: black;
    }
    p {
      margin: 0;
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
    }
  }
}
.Black {
  background: transparent;
  svg {
    stroke: var(--white) !important;
    fill: var(--white) !important;
  }
  a {
    color: var(--white) !important;
  }
}
.Scrolled {
  transition: all 1s ease-in-out;
  padding-left: 421px;
  padding-right: 421px;
  background: transparent;
  padding-top: 11px;
  gap: 8px;
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px;
    background: var(--black);
    color: var(--light-green);
    border-radius: 100px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    svg {
      stroke: var(--white);
      fill: var(--white);
    }
    p {
      margin: 0;
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
    }
  }
}
