:root {
  --white: #ffffff;
  --black: #000000;
  --light-green: #dce3df;
  --dark-green: #c7d9ce;
  --dark-grey: #616d66;
  --medium-grey: #727272;
  --grey: #f1f8f4;
  --light-grey: #a5b1aa;
  // --secondary-grey: #dce3df;

  --acid-green: #79ff39;
}
