:root {
  --white: #ffffff;
  --black: #000000;
  --light-green: #DCE3Df;
  --dark-green: #C7D9CE;


  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #cfcfcf;
  --acid-green: #79ff39;
}
